---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Inkfield">
  <section class="about grid-content">
    <div class="about-image">
      <img src="/about.jpg" alt="Maria Capussela" />
    </div>

    <div class="about-text">
      <h1>About</h1>

      <p>
        Inkfield is an interior design studio specialising in residential high
        end projects.
      </p>

      <p>
        Maria Capussela, director, has over 10 years experience in the sector in
        London and abroad. Her formative years in Italy and Australia were a
        50/50 of technical, traditional interior architecture training and of
        conceptual fine arts.
      </p>

      <p>
        Every project is unique as intrinsically linked to the equally unique
        requirements and preferences of the individuals that will inhabit the
        space.
      </p>

      <p>
        A strong belief in good quality and the importance of skilled
        craftsmanship is the underlying driving force in giving shape and
        texture to such styles.
      </p>
    </div>
  </section>
</Layout>
