---
const { title = "Inkfield" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/pwa7kgg.css" />

    <title>{title}</title>
  </head>

  <body>
    <header class="site-header">
      <a href="/" class="logo">
        <img src="/inkfield-logo.svg" alt="Inkfield" />
      </a>

      <button class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <div class="menu-overlay" id="menu">
      <button class="menu-close" id="menu-close">
        <span></span>
        <span></span>
      </button>
      <nav class="menu-nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/work">Work</a>
      </nav>
    </div>

    <main>
      <slot />
    </main>

    <footer class="site-footer">
      <div class="logo-footer">
        <img src="/inkfield-logo.svg" alt="Inkfield" />
        © {new Date().getFullYear()} Inkfield. All rights reserved.
      </div>
      <div><a href="mailto:maria@inkfield.co.uk">maria@inkfield.co.uk</a></div>
      <div>95 Victorian Grove, London, N16 8EJ</div>
    </footer>

    <script>
      const hamburger = document.getElementById("hamburger");
      const menu = document.getElementById("menu");
      const closeBtn = document.getElementById("menu-close");

      function toggleMenu() {
        hamburger.classList.toggle("open");
        menu.classList.toggle("active");
        document.body.classList.toggle("no-scroll");
      }

      hamburger?.addEventListener("click", toggleMenu);
      closeBtn?.addEventListener("click", toggleMenu);
    </script>
    <script type="module">
      import "../scripts/lenis.js";
    </script>
  </body>
</html>
